{% extends 'base.html.twig' %}

{% block body %}
    <div class="is-pulled-right">
        <a class="button is-primary" href="{{ path('app_post_edit', {'id': 0}) }}">neuen Beitrag erstellen</a>
    </div>

    <div class="posts">
        {% for post in posts %}
            <div class="post">
                <div class="title">
                    <div>
                        {{ post.Title }}
                        {% if (app.user.id == post.user.id) %}
                            <a href="{{ path('app_post_edit', {'id': post.id}) }}" class="icon is-medium">
                                <svg>
                                        <use xlink:href="{{ asset('images/solid.svg#edit') }}"></use>
                                    </svg>
                            </a>
                        {% endif %}
                    </div>
                    <div class="subtitle">
                        von {{ post.user.displayName }} ({{ post.date|date("d.m.Y H:i:s") }} Uhr)
                    </div>
                </div>
                <div class="body">
                    <div class="text">{{ post.Body|raw }}</div>
                    <div class="files">
                        <h4>Downloads</h4>
                        {% for file in post.files %}
                        <div>
                            <a href="{{ path('app_post_download-file', {'id': post.id, fileId: file.id}) }}">
                                <span class="icon small">
                                    <svg>
                                        <use xlink:href="{{ asset('images/regular.svg#file') }}"></use>
                                    </svg>
                                </span>
                                {{ file.name }} ({{ file.size|readable_filesize(0) }})
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>
{% endblock %}



