{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="columns">
        <div class="column">
            <h1>Benutzer</h1>
        </div>
        <div class="column">
            <a class="button is-primary is-pulled-right" href="{{ path('app_user_edit', {'id': 0}) }}">Neuer Benutzer</a>
        </div>

    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Benutzername</th>
                <th>Rollen</th>
                <th>Anzeigename</th>
                <th class="has-text-centered">Bearbeiten</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
                <td>{{ user.DisplayName }}</td>
                <td class="has-text-centered">
                    <a class="button is-small" href="{{ path('app_user_edit', {'id': user.id}) }}">bearbeiten</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
